<div>

    <input #newPath type="text" (keyup.enter)="addPath(newPath.value);newPath.value='';" />
    <button (click)="addPath(newPath.value);newPath.value='';">Add</button>

    <ul>
        <li *ngFor="let path of paths">
            <button (click)="deletePath(path)">Delete</button> {{path}}
        </li>
    </ul>

    <button (click)="findMusicFiles()">Find Music Files</button>

    <table>
        <tr>
            <th>Artist</th>
            <th>Title</th>
        </tr>
        <tr *ngFor="let item of music">
            <td><span *ngFor="let artist of item.artists">{{artist}}</span></td>
            <td>{{item.title}}</td>
        </tr>
    </table>

</div>